/**
 * General styles
 */
body{
  width: 300px;
  padding: 20px;
  font-family: "Roboto", "Open Sans", "Arial";
  font-weight: 300;
  color: #333;
}

h1 {
  font-weight: 100;
  font-size: 22px;
}

strong {
  font-weight: 300;
}

a {
  outline: none:
}

/**
 * Custom styles
 */
.time-tracked {
  font-size: 22px;
}

.time-tracked-number {
  font-size: 50px;
  font-weight: 100;
}

.time-tracked-label {
  margin-bottom: 0;
}

#cta {
  margin-top: 20px;
}

#cta > a {
  color: #777;
  outline: 0
}

/**
 * Utilities (Bootstrap-like)
 */
.text-center {
  text-align: center;
}

.pull-right {
  text-align: right;
}

.text-lg {
  font-size: 1.3em;
}

// /**
//  * Button styles (Bootstrap-like)
//  */
// .btn {
//   display: inline-block;
//   margin-bottom: 0;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   cursor: pointer;
//   border: 1px solid transparent;
//   border-radius: 0;
//   white-space: nowrap;
//   padding: 8px 12px;
//   font-size: 15px;
//   line-height: 1.4;
// }

// .btn:hover {
//   text-decoration: none;
// }

// .btn:focus {
//   outline: 0;
//   outline-offset: -2px;
// }

// .btn-xs {
//   padding: 4px 6px;
//   font-size: 12px;
//   line-height: 1.5;
//   border-radius: 0;
// }

// .btn-primary {
//   color: #fff;
//   background-color: #008cba;
//   border-color: #0079a1;
// }

// .btn-primary:hover {
//   color: #fff;
//   background-color: #006687;
//   border-color: #004b63;
// }