body {
  width: 300px;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", "Arial";
  font-weight: 300;
  color: #333;
}

h1 {
  font-weight: 100;
  font-size: 22px;
}

strong {
  font-weight: 300;
}

.time-tracked {
  font-size: 22px;
}

.time-tracked-number {
  font-size: 50px;
  font-weight: 100;
}

.time-tracked-label {
  margin-bottom: 0;
}